
<div class="row" style="height: auto; min-height: 480px; text-align:center; overflow: auto;">
    <p style="margin-top:80px;">

        <a href=@JNUE_ADAPI.Models.Properties.ADFS_URL>
            <img src="@Url.Content("~/images/btn_left.png")" />
        </a>

        <a href='@Url.Action("CheckStntNumb", "MemberJoin")'>
            <img style="margin-left:50px;" src='@Url.Content("~/images/btn_right.png")' />
        </a>

</div>
